# Firebase Configuration (Public Web API Keys)
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=YOUR_PROJECT_ID.firebaseapp.com
FIREBASE_DATABASE_URL=https://YOUR_PROJECT_ID-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_STORAGE_BUCKET=YOUR_PROJECT_ID.appspot.com
FIREBASE_MESSAGING_SENDER_ID=YOUR_MESSAGING_SENDER_ID
FIREBASE_APP_ID=YOUR_APP_ID

# Clinical Trial Dashboard Admin Authentication
FIREBASE_EMAIL=admin@example.com
FIREBASE_PASSWORD=YourPasswordHere
FIREBASE_USER_ID=YOUR_USER_ID_FROM_AUTHENTICATION_TAB

# ESP32 Calibration / WiFi Telemetry Config
WIFI_SSID=YOUR_WIFI_NAME
WIFI_PASSWORD=YOUR_WIFI_PASSWORD
DATABASE_SECRET=YOUR_FIREBASE_RTDB_DATABASE_SECRET
